################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhyCleanCode/.vs/WhyCleanCode/v14
/WhyCleanCode/App1/bin/Debug
/WhyCleanCode/App1/obj/Debug
/WhyCleanCode/App1_2/bin/Debug
/WhyCleanCode/App1_2/obj/Debug
/WhyCleanCode/App2/bin/Debug
/WhyCleanCode/App2/obj/Debug
/WhyCleanCode/App2_2/bin/Debug
/WhyCleanCode/App2_2/obj/Debug
/WhyCleanCode/App3/obj/Debug
/WhyCleanCode/App3/bin/Debug
/WhyCleanCode/App3_2/bin/Debug
/WhyCleanCode/App3_2/obj/Debug
/WhyCleanCode/App4/obj/Debug
/WhyCleanCode/App4/bin/Debug
/WhyCleanCode/App4_2/obj/Debug
/WhyCleanCode/App4_2/bin/Debug
/WhyCleanCode/App5/obj/Debug
/WhyCleanCode/App5/bin/Debug
/WhyCleanCode/App5_2/obj/Debug
/WhyCleanCode/App5_2/bin/Debug
/WhyCleanCode/TransactionScript
